@use "hero";
@use "event";
@use "./components/infosbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #fff;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #5683c6;
}

.container {
  max-width: 96rem;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 640px) {
    max-width: 80%;
  }

  @media (max-width: 1024px) {
    max-width: 90%;
  }
}
